<!DOCTYPE html>
<html lang="pt-br">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SV SHOP</title><link rel="stylesheet" href="../css/cad1.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">

</head>
<body>
     
    <div class="container">
        
        <div class="image-gallery">
            <img src="../IMG/22.jpg" alt="Imagem 1">
            <img src="../IMG/2.jpg" alt="Imagem 3">
            <img src="../IMG/22.jpg" alt="Shorts Nike x Stussy">
            <img src="../IMG/2.jpg" alt="Imagem 3">
        </div>

        
        <div class="main-image">
            <img src="../IMG/2.jpg" alt="Shorts Nike x Stussy">
            <img src="../IMG/22.jpg" alt="Shorts Nike x Stussy">
        </div>

        
        <div class="product-details">
            <div class="price">R$ 199,90</div>
            <div class="discount">R$ 119,94 no pix (6% de desconto)</div>

            
            <div class="sizes">
                <button onclick="selectSize(this)">P</button>
                <button onclick="selectSize(this)">M</button>
                <button onclick="selectSize(this)">G</button>
                <button onclick="selectSize(this)">GG</button>
            </div>
            

            
            <button class="buy-now">COMPRAR AGORA</button>

            
            <div class="info">
                <p>Frete Grátis: para Belo Horizonte, MG e Região</p>
                <p>Compra garantida: Você tem até 30 dias de Garantia</p>
                <p>Troca Grátis: Você tem até 7 dias para testar o produto</p>
            </div>
        </div>
    </div>

    <div class="product-desct">
        <h2>Hoodie Sufkml Black 
        </h2>
    </div>

    <div class="product-desct2">
        <h2>Esta camiseta de algodão preto apresenta um design minimalista e moderno. <p></p>O logotipo "WLSG Staff" é exibido em branco no peito, <p>
            incorporando o símbolo de Yin-Yang, sugerindo equilíbrio e harmonia. 
        </p>

        <section id="QuadPreto">
            <img src="../IMG/SV-removebg-preview.png" width="240px">
        </section>

        <script>
            function selectSize(button) {
                // Remove a classe 'selected' de todos os botões
                var buttons = document.querySelectorAll('.sizes button');
                buttons.forEach(function(btn) {
                    btn.classList.remove('selected');
                });
                
                // Adiciona a classe 'selected' ao botão clicado
                button.classList.add('selected');
            }
        </script>
        
</body>
</html>
