<!DOCTYPE html>
<html lang="pt-br">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SV SHOP</title><link rel="stylesheet" href="../css/cad3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">

</head>
<body>
     
    <div class="container">
        
        <div class="image-gallery">
            <img src="../IMG/55.jpg" alt="Imagem 1">
            <img src="../IMG/5.jpg" alt="Imagem 3">
            <img src="../IMG/55.jpg" alt="Shorts Nike x Stussy">
            <img src="../IMG/5.jpg" alt="Imagem 3">
        </div>

        
        <div class="main-image">
            <img src="../IMG/5.jpg" alt="Shorts Nike x Stussy">
            <img src="../IMG/55.jpg" alt="Shorts Nike x Stussy">
        </div>

        
        <div class="product-details">
            <div class="price">R$ 199,90</div>
            <div class="discount">R$ 119,94 no pix (6% de desconto)</div>

            
            <div class="sizes">
                <button onclick="selectButton(this)">P</button>
                <button onclick="selectButton(this)">M</button>
                <button onclick="selectButton(this)">G</button>
                <button onclick="selectButton(this)">GG</button>
            </div>
        
            <script>
                function selectButton(button) {
                    // Remove a classe 'selected' de todos os botões
                    const buttons = document.querySelectorAll('.sizes button');
                    buttons.forEach(btn => btn.classList.remove('selected'));
        
                    // Adiciona a classe 'selected' ao botão clicado
                    button.classList.add('selected');
                }
            </script>

            
            <button class="buy-now">COMPRAR AGORA</button>

            
            <div class="info">
                <p>Frete Grátis: para Belo Horizonte, MG e Região</p>
                <p>Compra garantida: Você tem até 30 dias de Garantia</p>
                <p>Troca Grátis: Você tem até 7 dias para testar o produto</p>
            </div>
        </div>
    </div>

    <div class="product-desct">
        <h2>Longsleeve HIGH
            Cellphone
        </h2>
    </div>

    <div class="product-desct2">
        <h2>Esta é uma camiseta de manga curta na cor azul petróleo, 
        <p>O gráfico apresenta o texto "SUP ORG" em uma fonte gótica, com um rosto estilizado de caveira no meio, </p>
        <p>combinando uma estética ousada e urbana. </p> 
            
        
  <section id="QuadPreto">
        <img src="../IMG/SV-removebg-preview.png" width="240px">
    </section>

</body>
</html>
