<!DOCTYPE html>
<html lang="pt-br">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SV SHOP</title><link rel="stylesheet" href="../css/detalheproduto.css">
</head>
<body>
     
    <div class="container">
        
        <div class="image-gallery">
            <img src="../IMG/22.jpg" alt="Imagem 1">
            <img src="../IMG/2.jpg" alt="Imagem 3">
            <img src="../IMG/22.jpg" alt="Shorts Nike x Stussy">
            <img src="../IMG/2.jpg" alt="Imagem 3">
        </div>

        
        <div class="main-image">
            <img src="../IMG/2.jpg" alt="Shorts Nike x Stussy">
            <img src="../IMG/22.jpg" alt="Shorts Nike x Stussy">
        </div>

        
        <div class="product-details">
            <h1>Shorts Nike x Stussy</h1>
            <div class="price">R$ 199,90</div>
            <div class="discount">R$ 187,90 no pix (6% de desconto)</div>

            
            <div class="sizes">
                <button>P</button>
                <button>M</button>
                <button>G</button>
                <button>GG</button>
            </div>

            
            <button class="buy-now">COMPRAR AGORA</button>

            
            <div class="info">
                <p>Frete Grátis: para Belo Horizonte, MG e Região</p>
                <p>Compra garantida: Você tem até 30 dias de Garantia</p>
                <p>Troca Grátis: Você tem até 7 dias para testar o produto</p>
            </div>
        </div>
    </div>



</body>
</html>
