<body>
    <!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Política de Troca e Devoluções</title>
    <link rel="stylesheet" href="../css/politica.css">
</head>
<body>
    <div class="container">
        <h1>POLÍTICA DE TROCA E DEVOLUÇÕES</h1>
        <p>
            Com o objetivo de garantir a completa satisfação de nossos clientes, a SvShop® adota uma Política de Trocas e Devoluções em conformidade com as mais recentes normas estabelecidas pelo Código de Defesa do Consumidor.
        </p>
        <p>
            Nosso compromisso é proporcionar um serviço personalizado que atenda às suas necessidades com excelência e rapidez. Para solicitações de trocas, devoluções ou reembolsos acesse <a href="contato.html">clique aqui</a> ou em caso de dúvidas entre em contato pelo e-mail: <a href="mailto:atendimento@svshop.com.br">atendimento@svshop.com.br</a>.
        </p>
        
        <h2>TROCA</h2>
        <p>Segue abaixo os requisitos para solicitação de trocas:</p>
        <ol>
            <li>O cliente tem até 7 (sete) dias corridos a partir da data de recebimento da mercadoria para solicitar a troca, e a primeira troca será isenta de custos.</li>
            <li>As trocas só serão aceitas mediante a disponibilidade em nosso site, seja por tamanho ou produto, e em caso de alteração de valores o pagamento deverá ser efetuado pelo cliente referente a essa diferença.</li>
            <li>Após a confirmação do direito de troca e a autorização do procedimento, o cliente deverá enviar os produtos seguindo as condições abaixo:
                <ul>
                    <li>O produto deve estar em condições novas, sem sinais de uso, ou de lavagem, sem alterações de qualquer natureza decorridas pelo manuseio do cliente.</li>
                    <li>A etiqueta do produto deve estar intacta e fixada à peça.</li>
                    <li>As imagens fornecidas para o pedido de troca devem ser fotos reais do produto, mostrando a etiqueta intacta.</li>
                    <li>Para itens adquiridos com descontos promocionais não será possível realizar trocas, salvo se o produto estiver apresentando defeitos.</li>
                </ul>
            </li>
            <li>Após recebermos a mercadoria, será realizada uma análise para verificar se todas as condições mencionadas foram atendidas. Se o produto passar na análise, a troca será efetuada e será emitida uma etiqueta de envio.</li>
        </ol>
        <p class="note">*Pedimos gentilmente que se atentem aos Tamanhos e Cores selecionados pois, não efetuamos a troca do produto em casos de pedidos aprovados antes do despacho.</p>
        <p class="note">*Descontos promocionais não se aplicam em processos de troca.</p>
        
        <h2>VALE TROCAS (VOUCHER)</h2>
        <p>
            Para todas as solicitações como troca e devolução, existe a opção do VOUCHER, onde o cliente poderá solicitar e utilizá-lo em futuras compras, ou para suprir diferenças de valores de trocas, se for necessário.
        </p>
        
        <h2>DEVOLUÇÃO</h2>
        <p>Em caso de devolução por ARREPENDIMENTO, o cliente poderá solicitar no prazo de 07 dias corridos após o recebimento da compra, podendo optar pelo reembolso ou troca de produtos disponíveis, pagando a diferença de valores, se necessário. O produto deverá estar com etiqueta original fixada e sem marcas de uso.</p>
        <p>Em caso de devolução por DEFEITO, aceitamos solicitações de devolução dentro do prazo de 10 (dez) dias corridos a partir do recebimento do produto. Após recebermos o item, faremos uma análise, se não for possível reparar o defeito, você tem o direito de trocá-lo por outro igual, se o produto não estiver mais disponível, você pode escolher outro modelo diferente e pagar a diferença de valor, se necessário.</p>
        <p>A SvShop® reserva-se o direito de não consertar, trocar ou restituir produtos que evidenciem sinais de mau uso. Ao receber o produto, é importante que você verifique o produto recebido. Se identificar qualquer problema, entre em contato imediatamente.</p>
        
        <h2>REEMBOLSO</h2>
        <p>A solicitação de reembolso poderá ser realizada em 07 (sete) dias corridos, o reembolso será processado dentro de 10 (dez) dias úteis após a análise favorável da solicitação. O cliente receberá o valor exato pago pelo produto, seguindo o mesmo método de pagamento utilizado na compra. Os valores serão creditados em 24h (vinte e quatro) para transações com PIX e até 2 (duas) faturas para transações com cartão podendo variar de acordo com a operadora do cliente.</p>
    </div>
</body>
</html>

</body>
</html>