<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SV SHOP</title>
    <link rel="stylesheet" href="../css/tag.css"> 
    <link rel="shortcut icon" href="../IMG/SV-removebg-preview.png">
</head>
<body>

<div>
    <img src="../IMG/SV-removebg-preview.png" alt="">
</div>

<section id="QuadPreto">
    <img src="IMG/SV-removebg-preview.png" width="240px">
</section>
    
</body>
</html>