body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-image: url(IMG/fb99f76b674f232e2e72aea95ae92065.png);
    background-repeat: no-repeat;
    background-size: 100%;
}



h1 {
    color: #333;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.foto1{
   width: 100%;
   
}