
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none; 
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    
}


#RodaPeInicial{
    position: fixed;
    display: flex;
    justify-content: space-around;
    padding-left: 8%; padding-right: 8%;
    background-color: white;
    color: (0, rgba0, 0, 0.705);
    fill: (0, rgba0, 0, 0.705);
    width: 100%; height: 80px;
    align-items: center;
    font-size: 15px; font-weight: 100;
    cursor: pointer;
    z-index: 2;
    text-align: center;
}

#RodaPeInicial a{
  color: black;
}



#RodaPeInicial div:hover{
    transition: 0.6s;
    -webkit-transform: scale(1.1);
   transform: scale(1.1);
}

#RodaPeInicial span:hover{
    fill: black;
    transition: 0.6s;
    -webkit-transform: scale(1.3);
   transform: scale(1.3);
         
  }



#RodaPeInicial img{
    margin-left: 17%; margin-right: 17%;
}

.hover14 figure {
	position: relative;
}
.hover14 figure::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 70%;
	height: 80px;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.hover14 figure:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}

#Quad{
    position: absolute;
    z-index: 1;
    margin-top: 80px;
    width: 100%;
    height: 929px;
    padding: auto;
    background-color: black;
    background-image: url(../IMG/suf.webp);
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}



#Quad{
   
    text-align: center;
    padding-top: 16%;
}

#newdrop{
  font-family: "Bebas Neue", sans-serif;
  color: white;
  font-weight: 700;
  font-size: 170px;
}



.container {
  width: 400px;
  height: 400px;
  position: relative;
  left: 50%;
  top: 3%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  width: 180px;
  height: 37px;
  position: relative;
}



.container svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke:#fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}



.btn span {

  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 200;
  color: white;
 
}

#PRODUTOS{

    position: relative;
    z-index: -100;
    background-color: white;
    width: 100%;
    height: 1070px;
}

#Fotos{
  display: grid;
  grid-template-columns: 33% 34% 33%;
    width: 100%;
    height: 920px;
    padding-left: 5%; padding-right: 5%;
    align-items: end;
    margin-bottom: 70px;
}

#Fotos img{
    -webkit-filter: grayscale(100%) blur(1px);
	filter: grayscale(100%) blur(1px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#Fotos img:hover {
	-webkit-filter: grayscale(0) blur(0);
	filter: grayscale(0) blur(0);
}

#QuadPreto {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 8%; 
  padding-right: 8%;
  width: 100%;
  height: 300px;
  background-color: black;
}

#QuadPreto a {
  color: white;
  font-size: 15px;
  text-align: center;
}

#QuadPreto img {
  filter: invert(100%);
}

#Fotos, #QuadPreto, #RodaPeInicial {
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode #RodaPeInicial,
body.dark-mode #Fotos, 
body.dark-mode #QuadPreto {
  background-color: #050a30;
}

body.dark-mode #a {
  color: #ffffff;
}

body.dark-mode #RodaPeInicial a{
  color: white;
}

